<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>  
    <connectionStrings>
      <add name="Default" connectionString="Data Source=b777;Initial Catalog=RequestForRightsTest;User ID=rqrights;Password=rqrights;MultipleActiveResultSets=True" />
    </connectionStrings>
    <appSettings>
      <add key="ldap_username" value="AD_turniket@pwr" />
      <add key="ldap_password" value="VX0EE5YW0ETo" />
    </appSettings>    
</configuration>